
.fixed,
.fullscreen,
.overlay,
.dialog {
    position: fixed;
}

.fullscreen,
.overlay {
    width: 100%;
    height: 100%;
}

.hidden,
.overlay,
.dialog {
    display: none;
}

.overlay {
    background-color: rgba(0,0,0,0.7);
    z-index: 200;
}

.dialog {
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(32,32,32,0.7);
    z-index: 250;
    border: 1px solid #888;

    color: lime;
}

body {
    background-color: rgb(0, 0, 0);
    color: #000;
    margin: 0px;
    overflow: hidden;

    text-shadow: 0 0 1px cyan, 0 0 5px darkcyan;

    width: 100vw;
    height: 100vh;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgba(255,255,255,0.3);
}

kbd {
    font-size: 2vh;
    border-radius: 0.5vh;
    box-shadow: 0.1vh 0.1vh 0.2vh lightcyan;
    border: 0.25vh solid yellowgreen;
    display: inline-block;
    padding: 0.1vh 1.2vw;
    margin-top: 1vh;
}

#fpsLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    text-align: left;
    z-index: 100;
    display:block;
    text-align: left;
    font-size: 3.5vh;
}

#instructions span {
    display: inline-block;
    line-height: 3.5vh;
}

#instructions small {
    font-size: 1.5vh;
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    text-shadow: 0 0 1px cyan, 0 0 5px darkcyan;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-size: 2.5vh;
	line-height: 3.5vh;

    cursor: pointer;
    z-index: 200;
}

#touchPause {
    display: none;
    position: absolute;

    width: 56px;
    height: 56px;

    top: 1%;
    right: 2%;

    font-size: 48px;
    line-height: 56px;

    text-shadow: 0 0 1px cyan, 0 0 5px darkcyan;
    color: #dddddd;
    text-align: center;

    transition: transform 250ms ease;

    z-index: 250;
}

#touchPause:hover, #touchPause:active {
    background-image: radial-gradient(rgba(255,255,255,0.2) 24%, rgba(255,255,255,0) 72%);
    /*background-color: rgba(255,255,255,0.1);*/
    transform: scale(1.25);
}

#touchControls {
    position: absolute;

    width: 100%;
    height: 25vw;

    bottom: 1%;

    display: none;


    text-shadow: 0 0 1px cyan, 0 0 5px darkcyan;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
}

#movementControls {
    position: absolute;
    left: 1%;
    bottom: 2%;

    display: inherit;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

#touchControls kbd {
    height: 5vw;
    width: 6vw;

    margin: 0.3vw;
    padding: 1vw;

    text-align: center;

    font-size: 5vw;
    line-height: 5vw;

    box-shadow: -0.5px 0.5px 4px rgba(0,0,0,0.75);
    border: 2px solid rgba(128,128,128,0.8);
    border-radius: 10%;

    background-image: radial-gradient(circle,  rgba(0,0,0,0) 20%, rgba(0,0,0,0.25), rgba(85,85,85,0.8));

    cursor: pointer;
}

#touchControls span {
    display: inherit;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack:center;
    -moz-box-pack: center;
    box-pack: center;
}

#miscControls {
    position: absolute;
    left: 39%;
    bottom: 2%;

    display: inherit;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

#miscControls kbd {
    height: 4vw;
    width: 8vw;

    font-size: 3vw;
    line-height: 4vw;
}

#cameraControls {
    position: absolute;
    right: 1%;
    bottom: 2%;

    display: inherit;
    width: 20vw;
    height: 20vw;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-pack:justify;
    -moz-box-pack: justify;
    box-pack: justify;

    box-shadow: 0.5px 0.5px 4px rgba(0,0,0,0.75);
    border: 2px solid rgba(128,128,128,0.8);

    background-image: radial-gradient(circle,  rgba(0,0,0,0) 20%, rgba(0,0,0,0.25), rgba(85,85,85,0.8));

    font-size: 3vw;
    line-height: 3vw;

    cursor: pointer;
}

#cameraControls span {
    padding: 2%;

    display: inherit;

    -webkit-box-pack:justify;
    -moz-box-pack: justify;
    box-pack: justify;
}

#guiContainer {
    position: absolute;
    top: 0px;
    right: 20px;
}